<a href="https://colab.research.google.com/github/Aishjainam-coder/Aishjainam-coder/blob/main/PYTHON_learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=(input("enter a num"))
b=(input("enter  2 num"))
print(a*b)

enter a num3
enter  2 num8

TypeError: can't multiply sequence by non-int of type 'str'

In [ ]:
num={11,20,30,22,13, 'aish'}
num

{11, 13, 20, 22, 30, 'aish'}

In [ ]:
num

{11, 13, 20, 22, 30, 'aish'}

In [ ]:
a={{'name': 'aish'}:'aish','name':'aish'}
a

TypeError: unhashable type: 'dict'

In [ ]:
a

{'true': 'aish', 'name': 'aish'}

In [ ]:
b=(True)

In [ ]:
b

True

In [ ]:
b=(1)

In [ ]:
def  aish(n):

    value=0
    while value<n:
        yield value
        value += 1
for value in  aish(9):
  print(value)

0
1
2
3
4
5
6
7
8

In [ ]:
b=aish(5)
print(next(b))
next(b)
next(b)
next(b)

0

3

In [ ]:
def aish(n):
    """
    Yields values from 0 to n-1.

    Args:
        n: The upper limit (exclusive) of the range.

    Yields:
        An integer from 0 to n-1.
    """

    value = 0
    while value < n:
        yield value
        value += 1

b = aish(5)  # Create a generator object
print(next(b))  # Get the first value (0)
print(next(b))  # Get the second value (1)
print(next(b))  # Get the third value (2)

0
1
2

In [ ]:
a = ["apple", "banana", "cherry"]
b = ["mango", "pineapple", "papaya"]
a.extend(b)
print(a)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [ ]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist) #sort for sorting

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [ ]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)
#copy in list like this

['apple', 'banana', 'cherry']

In [ ]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [ ]:
list3.clear()

In [ ]:
list3

[]

In [ ]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [ ]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [ ]:
thistuple = ("apple", "banana", "cherry","cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

In [ ]:
thistuple = ("apple", "banana", "cherry","cherry")
thistuple.count('cherry')

2

In [ ]:
thisset = {"apple", "banana", "cherry", True, 1, 2}

print(thisset)

{'apple', True, 2, 'banana', 'cherry'}

In [ ]:
set1 = {"abc", 34, True, 40, "male"}

In [ ]:
set1

{34, 40, True, 'abc', 'male'}

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [ ]:
i=1
while i<4:
  i+= 1
  if i==3:
    continue

  print(i)
  #continue in python

2
4

In [ ]:
i=1
while i < 6:
  print(i)
  if i  ==  3:
      break
  i += 1
  #break in python

1
2
3

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6") #With the else statement we can run a block of code once when the condition no longer is true:

1
2
3
4
5
i is no longer less than 6

In [ ]:
for x in "banana":
  print(x) #Looping Through a String
#Even strings are iterable objects, they contain a sequence of char

b
a
n
a
n
a

In [ ]:
def my_function(hey):
  print(hey+"Hello from a function")

my_function("a")

aHello from a function

In [ ]:
 def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

In [ ]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Emil")

TypeError: my_function() missing 1 required positional argument: 'lname'

In [ ]:

def maxthree(a,b,c):
  if c>b or c>a:
    print("c is large")
  elif b>a or b<c:
    print("b is large")
  else:
    print("a is large")
maxthree(4,9,10)
#maximum of three element

c is large

In [ ]:
num=[11,20,30,22,13,14,16,19,24,25,27]
even =list(filter(lambda x:x%2==0 , num))
print("even no", even )

even no [20, 30, 22, 14, 16, 24]

In [ ]:
city=["mumbai","kota","mujafffapurrr","newyork","goa"]
sort=sorted(city, key=lambda  x:len(x))
print("sorted ", sort)

sorted  ['goa', 'kota', 'mumbai', 'newyork', 'mujafffapurrr']

In [ ]:
def argfunction(*args):

  print(len(args))
  print(args)

  hey=["abc","cde","fgf"]
argfunction(4,5,6,7,hey)

7
(4, 5, 6, 7, 'abc', 'cde', 'fgf')

('abc', 'cde', 'fgf')

IndentationError: unexpected indent (<ipython-input-3-6f4e4a2cf825>, line 4)

In [ ]:
import sys
print(sys.getrecursionlimit())
sys.setrecursionlimit(200)
print(sys.setrecursionlimit())
i=0
def demo():
   global i
   i=i+1
   print("hello", i)
demo()
#demo()

1000
hello 1
hello 2

In [ ]:
mytuple = ("apple", "banana", "cherry")
myit = iter(mytuple)

print(next(myit))
print(next(myit))
print(next(myit))

apple
banana
cherry

In [ ]:
class Person:
  def __init__(a, name, age):
    a.name = name
    a.age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)

John
36

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def __str__(self):
    return f"{self.name}({self.age})"

p1 = Person("John", 36)

print(p1)

John(36)

In [ ]:
#covert string into list
a="aish"
b=list(a)
print(b)

['a', 'i', 's', 'h']

In [ ]:
# prompt: write a programm function to multiply list number in python

def multiply_list(lst):
  result = 1
  for x in lst:
    result = result * x
  return result

lst = [10, 20, 30]
print(multiply_list(lst))

6000

In [ ]:
list1=[1,2,3,4]
list2=list1.copy()
list2 #diffrent memory location

[1, 2, 3, 4]

In [ ]:
list2[1]=1000

In [ ]:
a="AISHWARYA"
b="A"
count=0
for i in a:
  if i==b:
    count+=1
print(count)

3

In [ ]:
b=1
a=0
for i  in range(35):






     print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34

In [ ]:
import pandas as pd
df=pd.read_csv("C:\Users\hi\OneDrive")
df

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (<ipython-input-1-92d4f0beef2c>, line 2)